.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
ipython_config.py

.python-version
*.png
*.jpg
*.jpeg
*.tiff
*.tif
*.npy 
*.pt
/tensorflow/saved_models/*
tensorflow/epochdata/*
/pytorch/saved_models/*
/pytorch/saved_data/*
/data/multiWienerPSFStack_40z_aligned.mat
/data/*
/pytorch/2D deconvolution demo (pretrained).ipynb
/common/*.npy
/common/*.dat
/common/*.swp

